* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentor-duplo {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;
  height: 100vh;
  padding: 8px;
  overflow: auto;
  background-color: #121212;
}
