<section id="container">
  @for (task of tasks; track task.id) {
    <button
      [routerLink]="['/tasks', task.id]"
      class="task-row"
      [class.border-bottom]="!$last"
      [class.done]="task.isDone"
    >
      <input
        class="check"
        type="checkbox"
        name="isDone"
        id=""
        [checked]="task.isDone"
        (change)="switchValue(task)"
        (click)="$event.stopPropagation()"
      />
      <p class="columnDef task-title">{{ task.title }}</p>
      <p class="columnDef task-date center">📅 {{ formatarData(task.date.toString()) }}</p>
    </button>
  }
</section>
