<form action="">
    <input name="nome" type="text" placeholder="Nome" class="form-input">
    <input name="idade" type="number" placeholder="Idade" class="form-input" min="0">
    <input name="cidade" type="text" placeholder="Cidade" class="form-input">
    <section id="ctnBtns">
        <input type="button" value="Cadastrar" id="form-enviar">
        <input type="button" value="Remover" id="form-remover">
        <input type="button" value="Editar" id="form-editar">
        <input type="button" value="Cancelar" id="form-cancelar">
    </section>
</form>