<header class="inventory-header">
  <button class="btn-primary" (click)="openModal()">
    <img src="/gift.svg" alt="" aria-hidden="true" />
    Adicionar Recompensa
  </button>
</header>

<app-modal-reward (closeModal)="closeModal()" [isOpen]="modalOpen()" />

<main class="inventory-grid">
  @for (compra of compras(); track compra.id) {
    <div
      class="card-item"
      [style.--type-color]="compra.purchased ? 'var(--color-good)' : 'var(--color-bad)'"
    >
      <!-- Topo do Card: Status da Recompensa (Adquirido ou Disponível) -->
      <div class="card-meta">
        <span class="badge-rarity" [class.good]="compra.purchased">
          {{ compra.purchased ? 'Adquirido' : 'Disponível' }}
        </span>
        <span class="purchase-date"> Raridade: {{ traduzirRaridade(compra.rarity) }} </span>
      </div>

      <!-- Corpo do Card: Nome e Descrição -->
      <div class="card-body">
        <h2 class="item-name">{{ compra.name }}</h2>
        <p class="item-description">{{ compra.description }}</p>
      </div>

      <!-- Linha de Status: Estado de Uso e Preço em Moedas -->
      <div class="card-status-line">
        <div class="currency-tag">
          <span class="xp-icon">📦</span>
          <span class="xp-value">{{ compra.is_used ? 'Utilizado' : 'Não utilizado' }}</span>
        </div>

        <div class="currency-tag">
          <span class="gold-icon">🪙</span>
          <span class="gold-value">{{ compra.value }}</span>
        </div>
      </div>

      <!-- Zona de Ações: Comprar ou Utilizar a Recompensa -->
      <div class="card-actions">
        @if (compra.purchased) {
          <button
            class="btn-action"
            [class.btn-buy]="compra.is_used"
            [class.btn-use]="!compra.is_used"
            (click)="usar(compra.id)"
            [disabled]="compra.is_used"
          >
            {{ compra.is_used ? 'Já Usado' : 'Utilizar Recompensa' }}
          </button>
        } @else {
          <button class="btn-action btn-use" (click)="comprar(compra.id)">Comprar Já</button>
        }
      </div>
    </div>
  }
</main>
