<section id="container">
  <div id="titleCtn">
    <a id="voltar" [routerLink]="['/home']">
      <img id="imgVoltar" src="voltar.png" alt="Voltar" />
    </a>
    <p id="titleText">{{ isEdit() ? 'Editar Evento' : 'Criar Novo Evento' }}</p>
    @if (isEdit()) {
      <button (click)="excluirEvento()" id="btnExcluir">
        <img id="imgExcluir" src="delete.png" alt="" />
      </button>
    }
  </div>
  <form [formGroup]="forms">
    @for (campo of campos; track campo.id) {
      @let inpt = forms.get(campo.id);

      <div class="rowForm">
        <label [for]="campo.id">{{ campo.label }}</label>
        <input class="input" [id]="campo.id" [type]="campo.type" [formControlName]="campo.id" />
        @if (inpt && inpt.invalid && inpt.touched) {
          @if (inpt.hasError('required')) {
            <p class="requiredCampo">Este campo é obrigatório.</p>
          } @else if (inpt.hasError('minlength')) {
            <p class="requiredCampo">O valor inserido é muito curto.</p>
          } @else if (inpt.hasError('maxlength')) {
            <p class="requiredCampo">O valor inserido é muito longo.</p>
          } @else if (inpt.hasError('naoPodeSer')) {
            <p class="requiredCampo">Selecione um novo valor</p>
          } @else if (inpt.hasError('min')) {
            <p class="requiredCampo">O valor deve ser maior</p>
          }
        }
        @if (campo.id === 'inscritos' && forms.hasError('inscritosExcedidos')) {
          <p class="requiredCampo">
            O número de inscritos não pode ser maior que a capacidade máxima.
          </p>
        }
      </div>
    }

    <div class="rowForm">
      <label for="categoria">Categoria</label>
      <select
        class="input"
        formControlName="categoria"
        [class.invalido]="forms.get('categoria')?.invalid && forms.get('categoria')?.touched"
      >
        <option [value]="Categorias.VAZIO">Selecione uma categoria</option>
        @for (cat of listaCategorias; track cat) {
          <option [value]="cat">{{ cat }}</option>
        }
      </select>
      @if (forms.get('categoria')?.hasError('valorInvalido') && forms.get('categoria')?.touched) {
        <p class="requiredCampo">A categoria selecionada não é válida.</p>
      }
    </div>

    <div class="rowForm">
      <label for="destaque">Destaque</label>
      <app-toggle
        id="destaque"
        [ativo]="forms.get('destaque')?.value ?? false"
        (alternar)="mudaDestaque()"
      />
    </div>
    <div id="submitDiv">
      <button (click)="salvarForms()" id="buttonSubmit" type="submit" [routerLink]="['/home']">
        {{ isEdit() ? 'Salvar' : 'Enviar' }}
      </button>
    </div>
  </form>
</section>
